@model IEnumerable<Ecommerce.Model.Product.ProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Create","Products")'">Create</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <button class="btn btn-primary" onclick="location.href='@Url.Action("Edit","Products", new { Id = item.Id })'">Edit</button> |
                <button class="btn btn-warning" onclick="location.href='@Url.Action("Details","Products", new { Id = item.Id })'">Details</button> |
                <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete","Products", new { Id = item.Id })'">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>
